@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.bgLanding {
  background-image: url('../public/images/Industry-2.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.bgFeature {
  background-image: url('../public/images/Tropicano.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.bgStaff {
  background-image: url('../public/images/SkyTemplePaintings.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bgBlur {
  background: rgba(6,6,6,0.25);
-webkit-backdrop-filter: blur(12px);
backdrop-filter: blur(5px);
border-radius: 8px;
}

.bgBlur2 {
  background: rgba(24, 24, 24, 0.075);
-webkit-backdrop-filter: blur(12px);
backdrop-filter: blur(2px);
border-radius: 8px;
}



.wavy {
  background-image: url(../public/images/wave.png);
  background-repeat: none;
background-size: cover;
background-position: 0 30%;
padding-bottom: 90px;
}

@media (max-width: 480px) {
  .wavy {
    background-size: unset;
  }
}

.boxShadow {
-webkit-box-shadow: -14px -53px 89px -47px rgba(0,0,0,0.41);
-moz-box-shadow: -14px -53px 89px -47px rgba(0,0,0,0.41);
box-shadow: -14px -53px 89px -47px rgba(0,0,0,0.41);
}

.scrollTop {

    transition: 2s;
  
}







  







   

